.entireStru{
  /* display:flex; */
  /* flex-direction:column; */
  /* align-items: start; */
  height: 100vh;
  width: 100vh;
}

.game-box{
  border:1px solid black;
  font-size: 160px;
  height: 160px;
  width: 160px;
  display:flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
}

.game-box:hover{
  background: hsl(0deg 0% 0% / 9%);
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  margin: 16px auto;
}

.tic-tac-toe{
  text-align: center;
}